.select-block-report {
  position: relative;
}

.select-block-report label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem ;
}

.select-block-report select {
  width: 95%;
  height: 3.1rem;
  margin-top: 0.4rem;
  border-radius: 15px;
  background: #b28d9f;
  border: 0;
  outline: 0;
  font: 1.3rem 'Montserrat';
  padding-left: 5%;
}





